<main class="main">
  <form action="#" class="form">
    <input
      type="text"
      class="js_search searchinput"
      placeholder="Escribe aqui tu serie"
    />
    <button class="js_button buttonsearch">Buscar</button>
  </form>
  <div class="sections">
    <section class="favoritessection">
      <h2 class="section_title">Mis series favoritas</h2>
      <button class="js_reset buttonreset">Reset</button>
      <ul class="js_favorites favoritesul"></ul>
    </section>
    <section class="showsection">
      <h2 class="section_title">Listado de series</h2>
      <ul class="js_list listshowul"></ul>
    </section>
  </div>
</main>
